.client-section {
    background-color:#012F34;
}
.client {
}
.client__title {
    color: #FFF;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
}
.client__list {
}
.client-item {
}