.hero-section{
    background-color: #014E56;
    background-image: url("../images/Group\ 8.svg");
    background-repeat: no-repeat;
    background-size: 200px 200px;
    background-position-x:calc(50% - 739px);
}
.hero {
    display: flex;
    gap: 100px;
    padding-bottom: 250px;
    background-image: url("../images/Group-icon.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
}
.hero__title-wrapper{
    max-width: 620px;
}
.hero__title {
    color: #FFF;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px;
}
.hero__strong{
    color: #F67E7E;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px;
}
.hero__wrapper {
    max-width: 445px;
}
.hero__icon {
    display: inline-block;
    width: 50px;
    height: 4px;
    background: #79C8C7;
    margin-bottom: 79px;
}
.hero__text {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; 
}

@media only screen and (max-width:800px){
    .hero-section{
        text-align: center;
    }
    .hero__title-wrapper{
        max-width: 620px;
    }
    .hero{
        display: flex;
        flex-direction: column;
        gap: 1px;
        background-image: url("../images/Group-icon.svg");
        background-repeat: no-repeat;
        background-position: bottom center;
    }
    .hero__title-wrapper{
        max-width: 395px;
        margin: 0 auto;
    }
    .hero__title {
        font-size: 64px;
        line-height: 56px;
    }
    .hero__strong{
        font-size: 64px;
        line-height: 56px;
    }
    .hero__wrapper {
        max-width: 565px;
        margin: 0 auto;
        margin-top: 24px;
    }
    .hero__icon{
        display: none;
    }
}
@media (max-width:580px){
    .hero{
        background-image: url("../images/Group-icon.svg");
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: 100% auto;
    }
    .hero__title-wrapper{
        max-width: 240px;
    }
    .hero__title {
        font-size: 40px;
        line-height: 40px;
    }
    .hero__strong{
        font-size: 40px;
        line-height: 40px;
    }
    .hero__wrapper {
        margin-top: 18px;
    }
}