.service-section{
    padding: 140px 0;
    background-color: #012F34;
    background-image: url("../../images/service-img.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
}
.service {
    display: flex;
    justify-content: space-between;
}
.service__title-wrapper{
    max-width: 445px;
}
.service-line{
    display: inline-block;
    width: 50px;
    height: 4px;
    margin-bottom: 54px;
    background: #F67E7E;
}
.service__title{
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
}
.service__list{
    max-width: 545px;
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.service__item-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 23px;
}
.service__item{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.item__title{
    color: #F67E7E;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}
.item__text{
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px; 
}
@media only screen and (max-width:800px){
    .service-section{
        padding: 100px 0;
        background-position: top right;
    }
    .service {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 60px;
    }
    .service-line{
        margin-bottom: 32px;
    }
    .service__title{
        color: #FFF;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
    }
}
@media (max-width:580px){
    .service {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 0px;
    }
    .service__list{
    text-align: center;
    }
    .service__item-wrapper{
        display: flex;
        flex-direction: column;
    }
    .service__img{
        margin: 0 auto;
    }
}